.footer {
  background:#4462A5 !important;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

// ********************RESPONSIVE**********************************
@media screen and (max-width: 626px){
  .footer-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}